<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%= recipe.name %>">
  </div>
  <div class="form-item">
    <label>Author</label>
    <select name="author">
    <% authors.forEach(author => { %>
      <% if (author.id === recipe.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
      <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>">
      <% } %>
    <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
    <div class="form-item">
      <label>Publish Date</label>
      <input type="date" name="publishDate"
       value="<%= recipe.publishDate == null ? '' : recipe.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
      <label>Preparation time</label>
      <input type="number" name="timeCount" min = "1" value="<%= recipe.timeCount  %>">
    </div>
  </div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
      <label>Photo</label>
      <input type="file" name="image" class = "filepond">
    </div>
    <div class="form-item">
      <label>Description</label>
      <textarea name="description"><%= recipe.description %></textarea>
    </div>
  </div>
  



