<h2 class="page-header"><%= recipe.name %></h2>
<div class="recipe-info">
    <div>
        <img class="recipe-cover" src= "<%= recipe.recipePhotoPath %>">
        <div class="recipe-details-btn-grid">
        <a class = "btn btn-primary" href= "/recipies/<%= recipe.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/recipies/${recipe.id}` }) %>
        <a class = "btn btn-primary recipe-details-author-button" href= "/recipies/<%= recipe.author.id %>/delete">View author</a>
    </div>
    </div>
<div class="recipe-details-grid">
    <div class="recipe-details-label">Author</div>
    <div><%= recipe.author.name%></div>
    <div class="recipe-details-label">PublishDate</div>
    <div><%= recipe.publishDate.toDateString() %></div>
    <div class="recipe-details-label">Preparation Time</div>
    <div><%= recipe.timeCount%></div>
    <div class="recipe-details-label">Description</div>
    <div><%= recipe.description%></div>
</div>
</div>