<h2><%= author.name %></h2>
<a href = "/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/authors/${author.id}` }) %>
<% if(recipiesByAuthor.length > 0) { %>
<h2>Recipies By <%= author.name %></h2>
<% recipiesByAuthor.forEach(recipe => { %>
    <img height = "150" width="100" src="<%= recipe.recipePhotoPath %>"> 
<% }) %>
<% } %>